<div class="w-full h-full mt-8">
  <p-card>
    <div class="w-full flex items-center flex-wrap gap-4 justify-between">
      @if (loading()) {
        <div class="flex items-center flex-wrap gap-2">
          <p-skeleton shape="circle" size="6rem" />
          <div>
            <p-skeleton width="16rem" height="2rem" />
            <p-skeleton width="18rem" class="mt-2" />
          </div>
        </div>
        <p-skeleton width="8rem" height="3rem" class="justify-self-end" />
      } @else {
        <div class="h-full items-center flex gap-4 flex-wrap">
          <p-avatar
            shape="circle"
            styleClass="size-20 text-3xl"
            [label]="getInitials(account().name)"
          />
          <div>
            <h1 class="text-3xl font-semibold">{{ account().name }}</h1>
            <h2 class="font-light truncate max-w-60 md:max-w-full text-surface-700 text-sm">
              {{ account().email }}
            </h2>
          </div>
        </div>
        <span
          class="bg-blue-50 text-blue-500 text-xs font-semibold uppercase py-1 px-2 rounded-full"
          >{{ roleLabels[account().role] }}</span
        >
      }
    </div>
  </p-card>

  <div class="flex items-center gap-2 mt-6">
    @if (loading()) {
      <p-skeleton width="2rem" height="1.5rem"></p-skeleton>
      <p-skeleton width="16rem" height="1.5rem" class="text-xl font-semibold"></p-skeleton>
    } @else {
      <span class="pi pi-id-card text-clinical-teal text-2xl"></span>
      <h3 class="text-xl font-semibold">Dados Principais da Conta</h3>
    }
  </div>

  <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-6">
    @if (loading()) {
      @for (s of skeletons; track s) {
        <p-skeleton height="6rem" class="mb-4"></p-skeleton>
      }
    } @else {
      <p-card>
        <div class="w-full flex items-center gap-4">
          <span class="bg-surface-100 text-clinical-teal text-xl p-2 rounded-md pi pi-key"></span>
          <div>
            <label class="text-xs uppercase font-semibold"> identificador da conta </label>
            <p class="text-surface-700 font-light truncate max-w-60 md:max-w-full">
              {{ account().id }}
            </p>
            <small>Identificador único e imutável da conta</small>
          </div>
        </div>
      </p-card>

      <p-card>
        <div class="w-full flex items-center gap-4">
          <span class="bg-surface-100 text-clinical-teal text-xl p-2 rounded-md pi pi-user"></span>
          <div>
            <label class="text-xs uppercase font-semibold"> Nome Completo </label>
            <p class="text-surface-700 font-light truncate max-w-60 md:max-w-full">
              {{ account().name }}
            </p>
            <small>Titular do registro profissional</small>
          </div>
        </div>
      </p-card>

      <p-card>
        <div class="w-full flex items-center gap-4">
          <span
            class="bg-surface-100 text-clinical-teal text-xl p-2 rounded-md pi pi-envelope"
          ></span>
          <div>
            <label class="text-xs uppercase font-semibold"> E-mail Corporativo </label>
            <p class="text-surface-700 font-light truncate max-w-60 md:max-w-full">
              {{ account().email }}
            </p>
            <small>E-mail de autenticação e notificações</small>
          </div>
        </div>
      </p-card>

      <p-card>
        <div class="w-full flex items-center gap-4">
          <span
            class="bg-surface-100 text-clinical-teal text-xl p-2 rounded-md pi pi-shield"
          ></span>
          <div>
            <label class="text-xs uppercase font-semibold"> Perfil de Acesso / Papel </label>
            <p class="text-blue-500 font-semibold text-sm">{{ roleLabels[account().role] }}</p>
            <small>Função atribuída ao usuário dentro do sistema</small>
          </div>
        </div>
      </p-card>

      <p-card>
        <div class="w-full flex items-center gap-4">
          <span
            class="{{
              account().active
                ? 'bg-green-50 text-green-500 pi pi-check'
                : 'bg-red-50 text-red-500 pi pi-ban'
            }}  text-xl p-2 rounded-md "
          ></span>
          <div>
            <label class="text-xs uppercase font-semibold">Status da Conta </label>
            <span class="flex items-center gap-2 max-w-min">
              <span
                class="{{
                  account().active ? 'text-green-500' : 'text-red-500'
                }} uppercase font-semibold text-xs"
                >{{ account().active ? 'Ativo' : 'Inativo' }}</span
              >
            </span>
            <small>Conta apta para acesso e operações</small>
          </div>
        </div>
      </p-card>
    }
  </div>

  <ng-content />
</div>
