<div class="w-full h-full flex items-center justify-center">
  <div class="w-full max-w-xs border border-red-500 p-4 rounded-sm">
    <span class="pi pi-exclamation-triangle text-xl text-red-500"></span>
    <p class="font-bold mt-4">{{ error().status }}</p>
    <p class="mt-2">{{ error().message }}</p>
    <div class="flex items-center gap-2 w-full mt-6 justify-end">
      <p-button [routerLink]="route()" label="Voltar" variant="outlined" severity="danger" />
      <p-button label="Tentar novamente" severity="success" (click)="onRetry()" />
    </div>
  </div>
</div>
