@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@theme {
  --color-primary: var(--p-primary-color);

  --color-secondary: #006e2f;
  --color-tertiary: #1a2130;

  --color-clinical-teal: #0e6b7e;
  --color-graphite-text: #1a1f2b;

  --color-background: #f8fafb;
  --color-surface-border: #e2e8f0;

  --color-error: #ba1a1a;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f8fafb;
  color: #1a1f2b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Manrope', sans-serif;
}
