@if (error() !== null) {
  <app-error-component [error]="error()">
    <p-button severity="danger" label="Voltar" routerLink="/painel/contas" />
    <p-button severity="success" label="Tentar novamente" (click)="retry()" />
  </app-error-component>
} @else {
  <app-dash-page-layout>
    <app-dash-page-header-layout
      [loading]="loading()"
      [label]="'Usuários'"
      [title]="'Informações da Conta'"
      [description]="' Visualização detalhada dos dados cadastrais e metadados de auditoria. '"
    >
      <div class="flex items-center gap-2">
        <p-button
          severity="danger"
          variant="text"
          icon="pi pi-chevron-left"
          label="Voltar"
          routerLink="/painel/contas"
        />
        @if (!loading() && account() !== undefined) {
          <app-edit-account-component [account]="account()!" />
        }
      </div>
    </app-dash-page-header-layout>
    <app-account-info-layout [loading]="loading()" [account]="account()!" />
  </app-dash-page-layout>
}
