<p-drawer
  [(visible)]="visible"
  [modal]="!isMd"
  [dismissible]="closeable()"
  [closable]="closeable()"
  [closeOnEscape]="closeable()"
  [showCloseIcon]="false"
  styleClass="bg-surface-0 md:shadow-none md:border-none md:max-w-80"
>
  <ng-template #header>
    <img src="/icon-logo.png" class="max-w-2xs mx-auto" />
  </ng-template>
  <div class="h-full w-full">
    <label class="text-xs uppercase font-semibold">Navegação</label>
    <div class="p-2 mt-2 gap-2 flex flex-col">
      <p-panelMenu [model]="items" />
    </div>
  </div>
  <ng-template #footer>
    <p-button styleClass="w-full" severity="secondary" variant="text" (click)="menu.toggle($event)">
      <div class="w-full flex items-center gap-2">
        <p-avatar icon="pi pi-cog" />
        <span class="text-surface-700">Configurações</span>
      </div>
    </p-button>
    <p-menu #menu [popup]="true" [model]="profileItems" appendTo="body" />
  </ng-template>
</p-drawer>

<app-profile-change-password-component
  [(changePasswordDialogVisible)]="changePasswordDialogVisible"
  [showTrigger]="false"
/>
