@if (error() !== null) {
  <app-error-component [error]="error()">
    <p-button cancel label="Cancelar" severity="danger" routerLink="/painel" />
    <p-button retry label="Tentar novamente" severity="success" (click)="loadAccounts()" />
  </app-error-component>
} @else {
  <app-dash-page-layout>
    <app-dash-page-header-layout
      [loading]="loading()"
      [label]="' Contas Cadastradas'"
      [title]="'Lista de Contas'"
      [description]="'Gerencie as contas de usuários que terão acesso à plataforma.'"
    >
      <app-create-account-component (refresh)="refresh()" />
    </app-dash-page-header-layout>

    <app-dash-list-page-layout [loading]="loading()">
      <div toolbar class="w-full flex items-center justify-between flex-wrap gap-2">
        <form (ngSubmit)="onSearch()">
          <div class="flex items-center gap-2">
            <p-floatlabel variant="on">
              <input
                pInputText
                id="search"
                name="search"
                type="text"
                [(ngModel)]="params().search"
              />

              <label for="search">Pesquisar contas</label>
            </p-floatlabel>

            <p-button severity="secondary" icon="pi pi-search" type="submit" />
          </div>
        </form>

        <div class="flex items-center gap-2">
          <p-select
            [options]="roleOptions"
            optionLabel="label"
            optionValue="role"
            [(ngModel)]="params().role"
            placeholder="perfil"
            (onChange)="onRole($event.value)"
          />

          <p-select
            [options]="activeOptions"
            optionLabel="label"
            optionValue="active"
            [(ngModel)]="params().active"
            placeholder="status"
            (onChange)="onActive($event.value)"
          />
        </div>
      </div>

      <div dataview>
        <p-dataView
          [value]="pageableResponse()!.content"
          [paginator]="true"
          [rows]="pageableResponse()?.size"
          [totalRecords]="pageableResponse()?.totalElements"
          (onPage)="changePage($event)"
        >
          <ng-template #list let-items>
            @for (i of items; track i.id) {
              <div
                class="w-full flex items-center justify-between py-4 border-b border-surface-200"
              >
                <div class="flex gap-4 max-w-xs flex-col">
                  <span class="font-semibold truncate max-w-sm">{{ i.name }}</span>
                  <span class="text-sm text-surface-500 truncate max-w-sm">{{ i.email }}</span>
                </div>
                <p-button
                  severity="secondary"
                  icon="pi pi-ellipsis-v"
                  size="small"
                  [routerLink]="'/painel/contas/' + i.id"
                />
              </div>
            }
          </ng-template>
        </p-dataView>
      </div>
    </app-dash-list-page-layout>
  </app-dash-page-layout>
}
