<div class="w-full h-svh flex">
  <p-drawer
    [(visible)]="drawerVisible"
    position="left"
    [modal]="isMobile()"
    [dismissible]="isMobile()"
    [closable]="isMobile()"
    styleClass="md:!max-w-80 md:!relative md:!shadow-none md:!border-none"
  >
    <ng-template #header>
      <img src="/logo.webp" class="xs:max-w-3xs" />
    </ng-template>

    <div class="h-full">
      <label for="navlist" class="font-semibold text-xs uppercase text-muted-color"
        >Navegação</label
      >
      <div id="navlist" class="p-2 flex flex-col gap-2">
        @for (item of items; track item.href) {
          <a
            [routerLink]="item.href"
            pButton
            severity="secondary"
            class="w-full justify-start!"
            [title]="item.label"
          >
            <i [class]="item.icon" pButtonIcon></i>
            <span pButtonLabel class="text-sm">{{ item.label }}</span>
          </a>
        }
      </div>
    </div>

    <ng-template #footer>Footer</ng-template>
  </p-drawer>
  <div class="flex-1 overflow-auto">
    <ng-content></ng-content>
  </div>
</div>
