@if (status()) {
  <p-button severity="warn" (click)="confirmDeactivate($event)">
    <i class="pi pi-ban"></i>
    <span class="hidden md:inline">Desativar</span>
  </p-button>
} @else {
  <p-button severity="success" (click)="confirmActivate($event)">
    <i class="pi pi-refresh"></i>
    <span class="hidden md:inline">Ativar</span>
  </p-button>

  <p-button severity="danger" (click)="confirmRemove($event)" class="ml-2">
    <i class="pi pi-trash"></i>
    <span class="hidden md:inline">Remover</span>
  </p-button>
}

<p-confirmpopup styleClass="max-w-sm">
  <ng-template #content let-message>
    <div class="flex flex-col items-center gap-3 p-4 text-center">
      <div class="flex size-12 items-center justify-center rounded-full bg-orange-50">
        <i [class]="message.icon" class="text-2xl text-orange-500"></i>
      </div>

      <p class="text-sm text-surface-700">
        {{ message.message }}
      </p>
    </div>
  </ng-template>
</p-confirmpopup>
