<div class="flex justify-between gap-2 items-center flex-wrap">
  @if (loading()) {
    <div class="w-full max-w-2xl">
      <p-skeleton class="w-full! max-w-3xs p-3" />
      <p-skeleton class="w-full! mt-4 max-w-xs p-4" />
      <p-skeleton class="w-full! mt-2" />
    </div>
    <p-skeleton class="max-w-3xs p-6" />
  } @else {
    <div class="w-full max-w-2xl">
      <span class="bg-surface-300 p-1 rounded-full text-xs uppercase max-w-3xs text-center">
        {{ label() }}
      </span>
      <h1 class="mt-4 text-3xl font-semibold">{{ title() }}</h1>
      <p class="font-light text-surface-700 max-w-xl">
        {{ description() }}
      </p>
    </div>

    <ng-content />
  }
</div>
