<app-dashboard-layout>
  <app-page-layout>
    <div
      id="page-header"
      class="w-full h-30 flex items-center justify-between border-b border-surface-200"
    >
      <div class="flex items-center">
        <a
          pButton
          icon="pi pi-arrow-left"
          [outlined]="true"
          [rounded]="true"
          title="Voltar"
          routerLink="../"
        ></a>

        <h2 class="ml-4 text-2xl font-bold">
          {{ title() }}
        </h2>
      </div>
      <ng-content />
    </div>

    <div id="page-body" class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-8">
      <p-card id="info-card" class="md:col-span-2">
        <div id="info-card-header" class="flex gap-2 items-center border-b border-surface-200 py-4">
          <i class="pi pi-id-card"></i>

          <h3 class="font-semibold text-xl">Todas as informações</h3>
        </div>

        <div id="info-card-body" class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
          @for (field of fields(); track field.label) {
            <div class="flex flex-col gap-1">
              <span class="uppercase text-xs">
                {{ field.label }}
              </span>

              <span class="bg-surface-50 p-2">
                {{ field.value ?? 'N/A' }}
              </span>
            </div>
          }
        </div>
      </p-card>

      <p-card id="audit-card">
        <div
          id="audit-card-header"
          class="flex gap-2 items-center border-b border-surface-200 py-4"
        >
          <i class="pi pi-history"></i>

          <h3 class="font-semibold text-xl">Auditoria</h3>
        </div>

        <div id="audit-card-body" class="flex flex-col gap-8 p-4">
          <div id="audit-card-updated" class="flex gap-2 bg-surface-50 p-2">
            <i class="pi pi-calendar"></i>

            <div class="flex flex-col gap-2">
              <span class="text-xs uppercase"> Última atualização: </span>

              <span>
                @if (audit()?.updatedAt) {
                  {{ audit()?.updatedAt | date: 'dd/MM/yyyy, HH:mm' }}
                } @else {
                  N/A
                }
              </span>

              <div class="flex gap-2">
                <i class="pi pi-user"></i>

                <span class="text-xs">
                  {{ audit()?.updatedBy ?? 'N/A' }}
                </span>
              </div>
            </div>
          </div>

          <div id="audit-card-created" class="flex gap-2">
            <i class="pi pi-calendar"></i>

            <div class="flex flex-col gap-2">
              <span class="text-xs uppercase"> Criado em: </span>

              <span>
                @if (audit()?.createdAt) {
                  {{ audit()?.createdAt | date: 'dd/MM/yyyy, HH:mm' }}
                } @else {
                  N/A
                }
              </span>

              <div class="flex gap-2">
                <i class="pi pi-user"></i>

                <span class="text-xs">
                  {{ audit()?.createdBy ?? 'N/A' }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </app-page-layout>
</app-dashboard-layout>
