<div class="w-full h-full flex items-center justify-center">
  <p-card class="max-w-xs w-full">
    <div>
      <span class="pi {{ icon() }} text-clinical-teal text-xl"></span>
      <h1 class="font-semibold tracking-tighter text-xl mt-4">{{ header() }}</h1>
      <p class="font-light text-surface-700 text-sm mt-2">
        {{ description() }}
      </p>
    </div>

    <div class="mt-8">
      <div class="border-yellow-300 p-2 text-xs border rounded-sm flex flex-col gap-2 mb-6">
        <span class="pi pi-info-circle text-yellow-500"></span>
        <span>{{ info() }}</span>
      </div>
      <ng-content />
    </div>
  </p-card>
</div>
