<app-input-dialog-component
  [header]="'Cadastrar novo exame'"
  [(visible)]="visible"
  [message]="'Nome do exame deve conter entre 3 e 100 caracteres.'"
>
  <form [formGroup]="form" (ngSubmit)="create()">
    <div class="flex flex-col gap-6">
      <p-floatlabel variant="on">
        <input pInputText id="name" type="text" formControlName="name" class="w-full" />
        <label for="name">Nome do exame</label>
      </p-floatlabel>

      @if (error()) {
        <span class="w-full p-2 bg-red-50 text-red-500 text-center rounded-sm text-xs">
          {{ error() }}
        </span>
      }

      @if (success()) {
        <p-button
          title="Exame criado com sucesso!"
          styleClass="w-full"
          variant="outlined"
          label="Exame criado com sucesso!"
          (click)="seeMore()"
          size="small"
        />
      }

      <div class="flex gap-2 justify-end">
        <p-button
          [label]="success() ? 'Sair' : 'Cancelar'"
          severity="danger"
          (click)="closeDialog()"
        />
        <p-button
          type="submit"
          label="Cadastrar"
          [loading]="loading()"
          [disabled]="loading() || form.invalid"
          severity="success"
        />
      </div>
    </div>
  </form>
</app-input-dialog-component>
